.page1:hover {color:red;} 
.page2:hover {color:red;}
.page3:hover {color:red;}

nav {padding:10px;}

.logo1:hover{
	-webkit-transform:rotate(180deg);}

	
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

.field
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         3s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

body {background-image:url('http://daneladwig.files.wordpress.com/2013/01/university-of-notre-dame-logo.jpg');}

	@media screen{
      img {max-width:100%;}
       
	.header {text-align:center; border:black; background:gold; padding:1em;}
	footer{border:black; padding:1em;}
	body {
    margin: 0px;
    padding: 0px;
   }
   footer{overflow:hidden; width; clear:both;}
}

@media screen and (min-width:700px){
	#col1 {float:left; width:48%;}
	#col2 {float:right; width:48%;}
	#container2{overflow:hidden; width:100%; clear:both;}
.col {float:left; width:32%;}
.col1,.col2 {margin-right:2%;
			 width:48%;}
/*#container3 {overflow:hidden; width:100%; clear:both;}
#container3 .col{float:left; width: 48%}
#container3 .col1, #container3 .col2, #container3 .col3, #container3 .col4 {margin-right:2%;}
footer{overflow:hidden; width; clear:both; background:gold;}
*/}


@media screen and (min-width:1000px){
#container2{overflow:hidden; width:100%; clear:both;}
.col {float:left; width:32%;}
.col1,.col2 {margin-right:2%;
			 width:32%;}
/*#container3{overflow:hidden; width:100%; clear:both;}
#container3 .col {float:left; width:21%;}
#container3 .col1,#container3 .col2,#container3 .col3{margin-right:4%;}
footer{overflow:hidden; width:100%; clear:both; background:gold;}
*/}

img {display: block;
    margin-left: auto;
    margin-right: auto}
